body{
    background-color:yellow;
    
    height: max-content;
    font-family: 'Dancing Script', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Pacifico', cursive;
}

#body{
    background-color:white;
    background-image:url(https://wallpaperset.com/w/full/e/8/2/121386.jpg);
}

#topnavbar{
    background-color: rgb(134, 134, 134);
}

#topnavbar a{
    text-decoration: none;
    padding-right: 25px;
    overflow: auto;
    color:white;
    background-color:rgb(134, 134, 134);
    
    
    
    
}
#active{
    background-color: red !important;
}

#topnavbar a:hover{
    background-color: black;
    color:white;
}
h2{
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    font-weight: 1000;
}
hr{
    color:gray;
    position: relative;
    border-style:none;
    border-top: dotted;
    width: 5%;
    border-width: 5px;
    
}
